# Security
SECRET_KEY=
ALLOWED_HOSTS=

# Debug
DEBUG=False

# DataBase
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

# Twitch API
TWITCH_API_CLIENT_SECRET=
TWITCH_API_CLIENT_ID=